<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bookmarck.name %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @bookmarck.direction %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bookmarck.category_id %>
</p>

<p>
  <strong>Bookind:</strong>
  <%= @bookmarck.bookind_id %>
</p>

<%= link_to 'Edit', edit_bookmarck_path(@bookmarck) %> |
<%= link_to 'Back', bookmarcks_path %>
